<div class="bg-black">
    <div class="container text-center text-white py-[10px]">
        Sign up and get 20% off to your first order. <span class="font-semibold hover:underline cursor-pointer">Sign Up Now</span>
    </div>
</div>
{% schema %}
{
    "name": "Announcement Bar",
    "settings": [
        {
            "type": "text",
            "id": "announcement_text",
            "label": "Announcement Text",
            "default": "Sign up and get 20% off to your first order."
        }
    ],
    "presets": [{"name": "Announcement Bar"}],
    "enabled_on": {
        "groups": ["header"]
    }
}
{% endschema %}
