<div class="container py-[60px] bg-[#f0f0f0] rounded-3xl">
    <h1 class="text-[48px] font-[700] text-center mb-[55px]">BROWSE BY dress STYLE</h1>

    <div class="px-[64px]">
        <div class="flex justify-between gap-7">
            <div class="w-5/12">
                <img class="w-full h-full object-cover" src="{{ 'casual.png' | asset_url }}" alt="Casual">
            </div>

            <div class="w-7/12">
                <img class="w-full h-full object-cover" src="{{ 'formal.png' | asset_url }}" alt="Formal">
            </div>
        </div>

        <div class="flex justify-between gap-7 mt-7">
            <div class="w-7/12">
                <img class="w-full h-full object-cover" src="{{ 'party.png' | asset_url }}" alt="Party">
            </div>

            <div class="w-5/12">
                <img class="w-full h-full object-cover" src="{{ 'gym.png' | asset_url }}" alt="Gym">
            </div>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Category Boxes",
    "presets": [{"name": "Category Boxes"}],
}
{% endschema %}