<div class="bg-[#F2F0F1]">
    <div class="container flex justify-between items-center">
        <div class="w-5/12">
            <h1 class="text-[64px] leading-[64px]">
                FIND CLOTHES THAT MATCHES YOUR STYLE
            </h1>

            <p class="my-[32px] text-[16px] leading-[22px] text-[#000000]/60">
                Browse through our diverse range of meticulously crafted garments, designed to bring out your individuality and cater to your sense of style.
            </p>

            <button class="rounded-full bg-black text-white py-3 px-16 text-[16px] font-[500] cursor-pointer duration-300">Shop Now</button>

            <div class="mt-[48px] flex gap-2">
                <div class="w-4/12">
                    <div class="text-[40px] font-[700]">200+</div>
                    <p class="text-[16px] leading-[22px] text-[#000000]/60">International Brands</p>
                </div>
                
                <div class="w-4/12">
                    <div class="text-[40px] font-[700]">2,000+</div>
                    <p class="text-[16px] leading-[22px] text-[#000000]/60">High-Quality Products</p>
                </div>
                
                <div class="w-4/12">
                    <div class="text-[40px] font-[700]">30,000+</div>
                    <p class="text-[16px] leading-[22px] text-[#000000]/60">Happy Customers</p>
                </div>

            </div>
        </div>

        <div class="w-5/12">
            <div class="relative -right-20"><img class="w-full" src="{{ 'Rectangle.webp' | asset_url }}" alt=""></div>
        </div>
    </div>
</div>
{% schema %}
{
    "name": "Hero",
    "disabled_on": {
        "groups": ["header", "footer"],
    },
    "presets": [{"name": "Hero"}],
}
{% endschema %}