<div class="container py-[60px]">
    <h1 class="text-[48px] font-[700] text-center mb-[55px]">Top selling</h1>

    <div class="flex flex-wrap">
        <div class="-mx-4 w-full flex flex-wrap">
            <div class="card">
                <div class="imgae">
                    <img class="w-full" src="{{ 'p_5.png' | asset_url }}" alt="Product Image">
                </div>
                <div class="info">
                    <div class="title">T-SHIRT WITH TAPE DETAILS</div>
                    <div class="price">
                        $120
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="imgae">
                    <img class="w-full" src="{{ 'p_6.png' | asset_url }}" alt="Product Image">
                </div>
                <div class="info">
                    <div class="title">T-SHIRT WITH TAPE DETAILS</div>
                    <div class="price">
                        $120
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="imgae">
                    <img class="w-full" src="{{ 'p_7.png' | asset_url }}" alt="Product Image">
                </div>
                <div class="info">
                    <div class="title">T-SHIRT WITH TAPE DETAILS</div>
                    <div class="price">
                        $120
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="imgae">
                    <img class="w-full" src="{{ 'p_8.png' | asset_url }}" alt="Product Image">
                </div>
                <div class="info">
                    <div class="title">T-SHIRT WITH TAPE DETAILS</div>
                    <div class="price">
                        $120
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Top Selling",
    "presets": [{"name": "Top Selling"}],
}
{% endschema %}